@import "./colors";
@import "./utilities";

#main-layout {
  #main-body {
    padding-top: 120px;

    @media screen and (max-width: 767px) {
      padding-top: 70px;
    }
  }
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: #fff;

  @media screen and (max-width: 767px) {
    display: none;
  }

  a {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: $color1;
    display: flex;
    align-items: center;
  }

  .header-left,
  .header-right {
    display: flex;
    align-items: center;
    gap: 45px;

    .logo {
      width: 75px;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 30px;

      svg {
        width: 16px;
      }
    }
  }
}

#mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: #fff;
  height: 54px;
  padding: 15px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .menu {
    position: fixed;
    width: 100vw;
    height: calc(100% - 54px);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    z-index: 4;
    padding: 15px;
    gap: 30px;
    left: -100%;

    @extend %transitioned;

    &.active {
      left: 0;
    }

    a {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 22px;
      color: $color1;

      img {
        width: 28px;
        margin-right: 10px;
      }
    }
  }

  .hamburger {
    width: 14px;
  }

  .logo {
    width: 60px;
  }
}

#blogs {
  .blogs-main {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-container {
    padding: 2rem;

    @media screen and (max-width: 767px) {
      box-shadow: none;
      padding: 15px;
    }

    table {
      border-collapse: collapse;
      width: 100%;

      thead {
        tr {
          background-color: #e5e7eb;
        }

        th {
          padding: 11.5px 15px;
          font-size: 11.25px;
          color: $color3;
          text-align: left;

          &:nth-child(1) {
            border-top-left-radius: 4px;
          }

          &:nth-child(2) {
            border-top-right-radius: 4px;
            padding-left: 0;
          }
        }
      }

      tbody {
        td {
          height: 45px;

          &,
          * {
            font-size: 16.85px;
            font-family: KaTeX_Main, ui-serif, Georgia, Cambria, Times New Roman,
              Times, serif;
            color: $color1;
          }

          .text {
            padding-left: 10px;
          }

          img {
            margin-left: 15px;
            width: 15px;
          }
        }
      }
    }
  }

  .blog-posts {
    @media screen and (max-width: 767px) {
      margin-top: 15px;
    }

    .blog-item {
      margin-top: 30px;
      display: flex;
      cursor: pointer;

      @extend %transitioned;

      @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        padding: 15px;
        margin-top: 0;
        border-top: 1px solid rgba(229, 231, 235);
        gap: 10px;
      }

      img {
        width: 47%;

        @media screen and (max-width: 767px) {
          width: 100%;
          border-radius: 4px;
        }
      }

      .text {
        padding: 1.5rem;

        @media screen and (max-width: 767px) {
          padding: 0;
        }

        * {
          font-family: KaTeX_Main, ui-serif, Georgia, Cambria, Times New Roman,
            Times, serif;
        }

        .top {
          display: flex;
          align-items: center;
          color: $color1;
          font-weight: bold;
          font-size: 14px;

          img {
            width: 15px;
            margin-right: 7.5px;
          }
        }

        h3 {
          font-size: 20px;
          margin-top: 10px;
          margin-bottom: 10px;
          color: $color2;
        }

        p {
          font-size: 16px;
          line-height: 1.4;
        }
      }
    }
  }

  .mail-list {
    margin-top: 30px;
    padding: 50px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    h1 {
      font-size: 28px;
    }

    input {
      padding: 15px;
      margin: 15px 0;
      --tw-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.025),
        0px 0.7px 2.3px rgba(0, 0, 0, 0.035),
        0px 1.4px 4.6px rgba(0, 0, 0, 0.045),
        0px 2.9px 9.5px rgba(0, 0, 0, 0.055), 0px 8px 26px rgba(0, 0, 0, 0.08);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      border: none;
      display: block;
      width: 100%;
      font-size: 1rem;
      height: 52px;
      border-radius: 4px;
    }
  }
}

#see-all {
  padding: 22.5px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  color: $color3;
  font-family: KaTeX_Main, ui-serif, Georgia, Cambria, Times New Roman, Times,
    serif;
  justify-content: center;
  font-style: oblique;
  font-size: 18px;

  @media screen and (max-width: 767px) {
    margin-top: 0;
    border-top: 1px solid rgba(229, 231, 235);
  }

  svg {
    width: 12px;
    margin-left: 6px;
  }
}

#footer {
  border-top: 1px solid rgba(229, 231, 235);
  padding: 22.5px 0;

  .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    a {
      font-size: 13.125px;
      padding: 0 30px;
      border-right: 1px solid rgba(229, 231, 235);
      color: $color1;

      @media screen and (max-width: 767px) {
        padding: 0 7.5px;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}
